body {
	margin: 0 !important;
	padding: 0 !important;
}

#white {
	background: #fff;
}

#white footer {
	color: #333;
}

header {
		background-image: url(../imgs/bg-header.jpg);
		background-size: cover;
    	background-repeat: no-repeat;
		padding: 15%;
		color: #fff;
		text-align: center;
		margin: 0 auto;
}

section {
	padding: 5%;
	background: #fff;
}

.blog-post {
	padding: 0;
}

.post {
	background: #fff;
	width: 50%;
	margin: 3em auto;
}

.breadcrumbs a {
	color: #40c1ac;
	text-decoration: none;
}

.breadcrumbs a:hover {
	color: #000;
	border-bottom: 2px solid #000;
}

code {
  background-color: #e1e1e1;
  margin: 4px;
  padding: 3px;
  font-family: courier;
  font-size: .85em;
}

.code-block {
	background: rgba(64,193,172,.25);
	border: 1px solid #40c1ac;
	padding: 3%;
	font-weight: 400;
}

.code-block code {
	background-color: #fff;
	/*padding: 3px;*/
}

strong {
	font-weight: 400;
}

footer p {
	text-align: center;
}

